@import './../../../style/settings/settings.scss';

.top-header {
  display: flex;
  background-color: $primary;
  color: $default-grey;
  min-height: 36px;
  padding: 0 50px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;

  &__list {
    list-style: none;
    margin: 0 0;

    &__item {
      float: left;

      .anticon {
        font-size: 18px;
      }

      &--text:not(:first-child) {
        padding-left: 30px;
      }

      &--text {
        .anticon,
        svg {
          margin-right: 8px;
          font-size: 16px;
        }
      }

      &--icon {
        padding-left: 14px;
      }

      a {
        color: $default-grey;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .top-header {
    justify-content: center;
    &__list {
      padding-left: 0;
    }
  }
}
