@import './../../../style/settings/settings.scss';

.ant-carousel {
  .slick-dots {
    li {
      &.slick-active button {
        background-color: $secondary;
      }
    }
  }
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
  background-color: #5d5d5d;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel {
  font-weight: bold;
  padding-top: 200px;

  &__header {
    color: $white;
    font-size: 60px;
    margin-bottom: 40px;

    &__stands {
      color: $secondary;
    }
  }

  &__info {
    color: $white;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    max-width: 870px;
    margin: 0 auto 40px;
  }

  &__actions-controls {
    margin-bottom: 200px;

    button.primary {
      margin-right: 50px;
    }
  }
}
