.inline-controls {
  .ant-form-item-children {
    display: flex;
    justify-content: space-between;
  }

  .ant-form-item {
    margin-bottom: 4px;
  }
}

.quick-quote-form {
  .ant-btn {
    width: 100%;
  }

  .ant-form {
    .ant-form-item:last-child {
      margin-bottom: 0;
    }

    .ant-input {
      border-radius: 0;
    }

    textarea.ant-input {
      margin-bottom: 0;
    }

    .ant-form-item-control {
      line-height: normal;
    }

    .ant-form-item-with-help {
      margin-bottom: 6px;
    }

    .ant-form-explain {
      min-height: 20px;
    }
  }
}
