
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cta-group {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  header.ant-layout-header {
    padding: 0 10px;
  }
}
