@import './../../../../../style/settings/settings.scss';

.what-we-do {
  padding: 40px 0;
  background-color: $white;

  &__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;

    span {
      border-bottom: 1px solid $light-grey;
      padding-bottom: 4px;
    }
  }

  &__desc {
    margin-bottom: 45px;
  }

  .what-we-do__activities {
    .activities-list {
      align-items: center;
      border: 1px solid $light-grey;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding: 0;

      .activities-item {
        background-repeat: no-repeat;
        background-position: 18px center;
        background-size: 30px;
        display: inline-block;
        padding-top: 28px;
        padding-left: 20px;
        padding-bottom: 28px;
        padding-left: 70px;
        width: 50%;

        &.plane {
          background-image: url("/images/activity-globe.svg");
          border-bottom: 1px solid $light-grey;
          border-right: 1px solid $light-grey;
        }

        &.boath {
          background-image: url("/images/activity-boat.svg");
          border-bottom: 1px solid $light-grey;
        }

        &.truck {
          background-image: url("/images/activity-truck.svg");
          border-right: 1px solid $light-grey;
        }

        &.warehouse {
          background-image: url("/images/activity-warehouse.svg");
        }
      }
    }
  }

  .quick-quote-form {
    margin: 0 20px;
  }
}
