@import './../../../../../style/settings/settings.scss';

.company-values {
  background-color: $white;
  padding: 60px 10px;

  .tab-list {
    .tab {
      display: flex;
      align-items: center;
      padding: 10px 0 10px 10px;
      width: 90%;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px auto;
      font-weight: bold;
      font-size: 18px;

      &.active {
        background-color: $primary;
        color: $white;
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  .tab-content {
    &__list {
      ul {
        display: grid;
        grid-template-columns: 30% 30%;
        list-style: none;
        padding-left: 0;

        li {
          background-image: url('/images/icon_list_check.svg');
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 14px;
          padding-left: 20px;
          margin-bottom: 8px;
        }
      }
    }

    &__title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
