@import './../../../../../style/settings/settings.scss';

.sales-department-info {
  &--call {
    background-color: $secondary;
    font-size: 30px;
    color: $primary;
  }

  .info-call-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 40px 10px;

    .text-wrapper {
      line-height: 32px;
      font-weight: bold;
    }

    .icon-wrapper {
      margin-right: 20px;
      font-size: 40px;
    }
  }

  &--contact {
    background-color: $primary;
    color: $white;
    align-items: center;
    display: flex;
    padding-left: 40px;
    font-weight: bold;

    .info-contact {
      &--desc {
        font-size: 24px;
        margin-right: 10px;
      }

      &--phone {
        color: $secondary;
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 980px) {
  .sales-department-info {
    .info-call-wrapper {
      justify-content: center;
    }

    &--contact {
      display: flex;
      justify-content: center;
    }
  }
}
