@import './../../../style/settings/settings.scss';

.ant-layout-footer {
  &.main-footer {
    background-color: $primary;
    color: $white;
    padding: 24px 10px;
  }

  .footer_socials {
    font-size: 18px;
    list-style: none;
    padding: 0;

    li {
      float: left;

      &:not(:last-child) {
        margin-right: 30px;
      }

      .social-link {
        color: $white;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .main-footer {
    &__help {
      padding: 0 14px;

      .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .help-list {
        list-style: none;
        padding: 0;

        .icon {
          color: $secondary;
          margin-right: 10px
        }
      }
    }
  }

}
