@import './../../../../../style/settings/settings.scss';

.clients-testimonials {
  background-color: $white-grey;
  padding: 80px 0;

  &__header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    span {
      border-bottom: 1px solid $light-grey;
      padding-bottom: 4px;
    }
  }

  &__item {
    padding: 0 10px;
    text-align: center;
  }

  &__icon {
    height: 22px;
    background-image: url('/images/quote.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__logo {
    margin-bottom: 20px;

    img {
      width: 150px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
  }
}
