@import './../../../style/settings/settings.scss';

.ant-menu {
  display: none;
}

.ant-layout-header {
  background-color: #ffffff;
}

.ant-menu-item {
  font-weight: bold;

  a {
    color: $primary;
  }
}

.ant-menu-horizontal {
  .ant-menu-item {
    a {
      color: $primary;

      &:hover {
        color: $secondary;
      }
    }
  }

  .ant-menu-item-selected,
  .ant-menu-item:hover {
    color: $secondary;
    border-bottom: 2px solid $secondary;

    a {
      color: $secondary;
    }
  }
}

@media (min-width: 768px) {
  .ant-menu {
    display: block;
  }
}
