@import './../../../../../style/settings/settings.scss';

.latest-news {
  background-color: $white-grey;
  padding: 20px 10px;

  &__item {
    width: 49%;
  }

  &__carousel {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__arrows {
    button:first-child {
      margin-right: 10px;
    }
  }

  &__title {
    border-bottom: 1px solid $light-grey;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__tag {
    font-size: 18px;
    font-weight: bold;
  }

  &__news-title, &__content {
    margin-bottom: 24px;
  }

  &__news-title {
    font-size: 30px;
    font-weight: bold;
  }

  &__content {
    color: $silver-chalice;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
      color: inherit;
      font-weight: bolder;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__socials__links {
    ul {
      list-style: none;
      padding: 0;

      li {
        float: left;
      }

      li:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__socials__text {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
  }

  &__read-more {
    svg {
      margin-left: 10px;
      margin-top: 4px;
    }
  }
}
