@import './../../../style/settings/settings.scss';

.home-page {
  &__services {
    background-color: $primary;
    color: $white;
  }

  .home-page__services {
    padding: 50px 0;
  }

  .service-item {
    margin-bottom: 20px;

    &:not(:last-child) {
      padding-right: 16px;
    }

    &__icon {
      margin-bottom: 25px;
    }

    &__title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
