@import './../../../style/settings/settings.scss';

.tabs {
  display: flex;
}

.tab-list {
  width: 20%;
  .tab {
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
}

.tab-panel {
  width: 80%;
}
