// colors
$primary: #233859;
$primary-darker: #1e3252;
$secondary: #f0e246;
$secondary-darker: #e5d844;
$white: #ffffff;
$default-grey: #bebebe;
$light-grey: #e5e5e5;
$white-grey: #fcfcfc;
$silver-chalice: #a7a6a6;
