@import './../../../style/settings/settings.scss';

.ant-btn {
  height: 36px;

  &.primary {
    background-color: $primary;
    color: $white;
    font-weight: bold;
    border: none;

    &:hover {
      background-color: $primary-darker;
    }

    span {
      height: 100%;
      line-height: 2.5;
      padding-right: 8px;
      border-right: 1px solid $primary-darker;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: $primary;
    font-weight: bold;
    border: none;

    &:hover {
      background-color: $secondary-darker;
    }

    span {
      height: 100%;
      line-height: 2.5;
      padding-right: 8px;
      border-right: 1px solid $secondary-darker;
    }
  }
}
